---
type: category
title: "{{ title }}"
lang: {{ lang }}
{% if description %}
description: "{{ description }}"
{% endif %}
{% if slug %}
slug: {{ slug }}
{% endif %}
{% if image.desktop %}
image:
  desktop: {{ image.desktop }}
{% endif %}
---

{% if content %}
{{ content }}
{% endif %}
