---
type: post
lang: {{ lang }}
title: '{{ title | safe }}'
{% if description %}
description: "{{ description }}"
{% endif %}
authors:
{% for author in authors %}
  - {{ author }}
{% endfor %}
{% if date %}
date: '{{ date }}'
{% endif %}
{% if location %}
location: {{ location }}
{% endif %}
{% if audio %}
audio:
{% for key, value in audio %}
  {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% if duration %}
duration: '{{ duration }}'
{% endif %}
{% if video %}
video:
{% for key, value in video %}
  {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% if translators | length %}
translators:
{% for translator in translators %}
  - {{ translator }}
{% endfor %}
{% endif %}
{% if transcribers | length %}
transcribers:
{% for transcriber in transcribers %}
  - {{ transcriber }}
{% endfor %}
{% endif %}
{% if editors | length %}
editors:
{% for editor in editors %}
  - {{ editor }}
{% endfor %}
{% endif %}
{% if tags | length %}
tags:
{% for tag in tags %}
  - {{ tag }}
{% endfor %}
{% endif %}
{% if image.desktop %}
image:
  desktop: {{ image.desktop }}
  {% if image.alt %}
  alt: {{ image.alt }}
  {% endif %}
{% endif %}
{% if slug %}
slug: {{ slug }}
{% endif %}
{% if status %}
status: {{ status }}
{% endif %}
{% if license %}
license: {{ license }}
{% endif %}
---

{% if content %}
{{ content | safe }}
{% endif %}
