---
type: post
lang: {{ lang }}
title: "{{ title }}"
{% if description %}
description: "{{ description }}"
{% endif %}
authors:
{% for author in authors %}
  - {{ author }}
{% endfor %}
{% if date %}
date: "{{ date }}"
{% endif %}
{% if location %}
location: {{ location }}
{% endif %}
audio:
{% for key, value in audio %}
  {{ key }}: {{ value }}
{% endfor %}
{% if duration %}
duration: "{{ duration }}"
{% endif %}
{% if video %}
video: "{{ video }}"
{% endif %}
{% if translators | length %}
translators:
{% for translator in translators %}
  - {{ translator }}
{% endfor %}
{% endif %}
{% if transcribers | length %}
transcribers:
{% for transcriber in transcribers %}
  - {{ transcriber }}
{% endfor %}
{% endif %}
{% if editors | length %}
editors:
{% for editor in editors %}
  - {{ editor }}
{% endfor %}
{% endif %}
{% if tags | length %}
tags:
{% for tag in tags %}
  - {{ tag }}
{% endfor %}
{% endif %}
{% if image.desktop %}
image:
  desktop: {{ image.desktop }}
  alt: {{ image.alt }}
{% endif %}
{% if slug %}
slug: {{ slug }}
{% endif %}
{% if status %}
status: {{ status }}
{% endif %}
{% if license %}
license: {{ license }}
{% endif %}
---

{% if content %}
{{ content | safe }}
{% endif %}
